
		<div class="main-header">
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="dark2">
				<a href="/" class="logo">
					<img src="/static/assets/img/logo.svg" alt="navbar brand" class="navbar-brand" style="width: 50px; height: 50px">
				</a>
				<button class="topbar-toggler more"><i class="fab fa-fulcrum"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">
				
				{% if user.is_authenticated %}

					<div class="container-fluid">
						
						<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
							
							<li class="nav-item dropdown hidden-caret">
								<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
									<i class="fas fa-layer-group"></i>
								</a>
								<div class="dropdown-menu quick-actions quick-actions-info animated fadeIn">
									<div class="quick-actions-header">
										<span class="title mb-1">Quick Actions</span>
									</div>
									<div class="quick-actions-scroll scrollbar-outer">
										<div class="quick-actions-items">
											<div class="row m-0">
												<a class="col-6 col-md-4 p-0" href="{% url 'admin:index' %}">
													<div class="quick-actions-item">
														<i class="fas fa-users-cog"></i>
														<span class="text">Admin</span>
													</div>
												</a>
												<a class="col-6 col-md-4 p-0" href="{% url 'dht11:dht11' %}">
													<div class="quick-actions-item">
														<i class="fas fa-temperature-high"></i>
														<span class="text">DHT11</span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="nav-item dropdown hidden-caret">
								<a class="btn btn-default" href={% url 'authentication:logout' %}>
									<i class="fa fa-sign-out" aria-hidden="true"><span class="link-collapse">&nbsp;</span></i>
									Logout
								</a>
							</li>
						</ul>
					</div>
				{% else %}
					<div class="container-fluid">
						<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
							<li class="nav-item dropdown hidden-caret">
								
								<a class="btn btn-default" href={% url 'authentication:login' %}>
									<i class="fas fa-sign-in-alt" aria-hidden="true"><span class="link-collapse">&nbsp;</span>&nbsp;</i>Login
								</a>
							</li>
							<li class="nav-item dropdown hidden-caret">
								<a class="btn btn-default" href={% url 'authentication:register' %}>
									<i class="fas fa-user-plus" aria-hidden="true"><span class="link-collapse">&nbsp;</span>&nbsp;</i>Signup
								</a>
							</li>
						</ul>
					</div>
				{% endif %}
				
			</nav>
			<!-- End Navbar -->

		</div>
